@media screen and (max-width: 1005px) {
  .navbar {
    position: relative;
  }
  .menu {
    flex: 100%;
    margin: 5px;
    text-align: center;
  }
  .logo {
    margin: 0;
    text-align: center;
  }
  .header {
    padding-top: 50px;
  }

  .headline, .img-headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .headline p {
    text-align: center;
  }

  .card {
    width: 100%;
  }

}

@media screen and (max-width: 657px) {
  #botao {
    display: none;
  }

  #botao-resp {
    display: inline-block;
  }

}